# Lab | Data Structuring and Combining Data

Objective: 
- Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
- Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here
import pandas as pd
import pandas_cleaning_script as pcs

In [2]:
#import all files

file1_name = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
file2_name = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
file3_name = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

file1 = pd.read_csv(file1_name)
file2 = pd.read_csv(file2_name)
file3 = pd.read_csv(file3_name)

In [3]:
file2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

In [4]:
file3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   7070 non-null   object
 1   State                      7070 non-null   object
 2   Customer Lifetime Value    7070 non-null   float64
 3   Education                  7070 non-null   object
 4   Gender                     7070 non-null   object
 5   Income                     7070 non-null   int64
 6   Monthly Premium Auto       7070 non-null   int64
 7   Number of Open Complaints  7070 non-null   int64
 8   Policy Type                7070 non-null   object
 9   Total Claim Amount         7070 non-null   float64
 10  Vehicle Class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB

In [5]:
file1_clean = pcs.clean_df(file1)

In [6]:
file2_clean = pcs.clean_df(file2)

In [7]:
file3_clean = pcs.clean_df(file3)

In [8]:
#combining the three files
all_data = pd.concat([file1_clean, file2_clean, file3_clean], axis=0, ignore_index=True)

In [9]:
file1_clean.shape[0]+file2_clean.shape[0]+file3_clean.shape[0] == all_data.shape[0]

True

In [10]:
# Your code goes here
all_data.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,Unknown,Master,588174.235,0.0,1000.0,1.0,Personal Auto,Four-Door Car,2.70
1,QZ44356,Arizona,F,Bachelor,697953.590,0.0,94.0,1.0,Personal Auto,Four-Door Car,1131.46
2,AI49188,Nevada,F,Bachelor,1288743.170,48767.0,108.0,1.0,Personal Auto,Two-Door Car,566.47
3,WW63253,California,M,Bachelor,764586.180,0.0,106.0,1.0,Corporate Auto,SUV,529.88
4,GA49547,Washington,M,High School or Below,536307.650,36357.0,68.0,1.0,Personal Auto,Four-Door Car,17.27

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

## Exercise 1: Clean and Format the Data

While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column. 

To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.

Save the clean dataset into a csv file.

In [11]:
mca_name = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'

mca = pd.read_csv(mca_name)

In [12]:
mca_clean = pcs.clean_df(mca)

In [13]:
mca_clean.head(3)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.22,No,Basic,Bachelor,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,Unknown
1,1,KX64629,California,2228.53,No,Basic,Bachelor,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,Unknown
2,2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A

In [14]:
cols = [col for col in mca_clean.columns if not col.startswith('unnamed')]

In [15]:
mca_clean = mca_clean[cols]

In [16]:
mca_clean['effective_to_date'] = pd.to_datetime(mca_clean['effective_to_date'], dayfirst=True)

/var/folders/4v/8q8s246j5t5_2qhs0c6ssd2m0000gn/T/ipykernel_89118/4229417159.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  mca_clean['effective_to_date'] = pd.to_datetime(mca_clean['effective_to_date'], dayfirst=True)

In [17]:
mca_clean['effective_to_date_month'] = mca_clean['effective_to_date'].dt.month

In [22]:
mca_clean.to_csv('marketing_customer_analysis_clean.csv', index=False)

## Exercise 2: Structuring Data

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

3. You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [23]:
# Your code goes here

mca_clean.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'open_complaints', 'number_of_policies', 'policy_type', 'policy',
       'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type',
       'effective_to_date_month'],
      dtype='object')

In [24]:
mca_clean.sales_channel.unique()

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

### Total Customer Lifetime Values by Sales Channel

In [27]:
sales_clv_pivot = pd.pivot_table(mca_clean, index = 'sales_channel', values = 'customer_lifetime_value', aggfunc='sum')
sales_clv_pivot

               customer_lifetime_value
sales_channel
Agent                      33057887.66
Branch                     24359201.28
Call Center                17364288.35
Web                        12697633.04

### The `Agent` sales channel has the highest total Customer Lifetime Value.

### Average Customer Lifetime Values by Gender and Education

In [30]:
gender_edu_clv = pd.pivot_table(mca_clean, index = ['gender','education'], values = 'customer_lifetime_value', aggfunc='mean')
gender_edu_clv['customer_lifetime_value'] = round(gender_edu_clv['customer_lifetime_value'],2)
gender_edu_clv

                             customer_lifetime_value
gender education
F      Bachelor                              7813.29
       Doctor                                7328.51
       High School or Below                  8675.22
       Master                                8157.05
M      Bachelor                              7879.35
       Doctor                                7415.33
       High School or Below                  8149.69
       Master                                8168.83

### Females who have not attended college and Males with Masters are the two groups with the highest avergage Customer Lifetime Value.

Of these two groups, the females have a higher average CLV than the males.

### Complaints by policy type and month

In [31]:
mca_clean.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'open_complaints', 'number_of_policies', 'policy_type', 'policy',
       'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type',
       'effective_to_date_month'],
      dtype='object')

In [34]:
complaints_month_policy_type = mca_clean[['policy_type', 'effective_to_date_month', 'open_complaints']]

In [35]:
complaints_month_policy_type.head()

      policy_type  effective_to_date_month  open_complaints
0  Corporate Auto                        2              0.0
1   Personal Auto                        1              0.0
2   Personal Auto                       10              0.0
3  Corporate Auto                       11              0.0
4   Personal Auto                        1              0.0

In [56]:
complaints = (complaints_month_policy_type.groupby(['effective_to_date_month','policy_type'])
                                            .agg({'open_complaints':'sum'})
             )
#complaints = pd.DataFrame(complaints)
complaints.columns = ['total_complaints']
complaints

                                        total_complaints
effective_to_date_month policy_type
1                       Corporate Auto             288.0
                        Personal Auto             1182.0
                        Special Auto                64.0
2                       Corporate Auto             245.0
                        Personal Auto              876.0
                        Special Auto                87.0
3                       Corporate Auto              32.0
                        Personal Auto              111.0
                        Special Auto                 1.0
4                       Corporate Auto              34.0
                        Personal Auto               86.0
                        Special Auto                 1.0
5                       Corporate Auto              33.0
                        Personal Auto               66.0
                        Special Auto                 2.0
6                       Corporate Auto              15.0
                        Personal Auto               84.0
                        Special Auto                 3.0
7                       Corporate Auto              18.0
                        Personal Auto              114.0
                        Special Auto                 1.0
8                       Corporate Auto              15.0
                        Personal Auto               90.0
                        Special Auto                 2.0
9                       Corporate Auto              23.0
                        Personal Auto              109.0
                        Special Auto                 7.0
10                      Corporate Auto              34.0
                        Personal Auto              120.0
                        Special Auto                 3.0
11                      Corporate Auto              23.0
                        Personal Auto               74.0
                        Special Auto                 2.0
12                      Corporate Auto              16.0
                        Personal Auto               86.0
                        Special Auto                 2.0